body {
    background-color: #EBFAFF;
    
}
div {
    /*border: 1px solid #a3caff;*/
    /*height: 120px;*/
    /*margin-bottom: 10px;*/

}
h1{
    text-align: center;
    color: #1E4D7D;
}
p {
    text-align:center;
    color: #1E3464;
    /*display:inline;*/
}

img {
    display: block;
    margin: 10px auto 0px auto;
    border-radius: 5px;
}

.nav-button {
    font-size: 20px;
    color: #1E3464;
    /*width: 100px;*/
    margin: auto 20px;
    height:25px;
    text-align:center;
    display:inline-block;
}

.nav-button:hover{
    cursor:pointer;
}

.index-point{
    width: 25px;
    height: 25px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #BFD5EA;
    display: inline-block;
}

.index-point:hover {
    cursor:pointer;
}


.index-point-active{
    background-color: #1E3464;
}

#mainContent{
    min-height: 340px;
}

#carousel{
    text-align:center;
}

#time{
    margin-top:10px;
    text-align: center;
}